<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <loggers>
        <root level="debug">
            <appender-ref ref="LearnSpringLog"/>
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="log"/>
        </root>
    </loggers>

    <appenders>

        <console name="LearnSpringLog" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-3level %logger{36} - %msg%n"/>
        </console>

        <File name="RollingFile" fileName="logs/learnSpring.log" filePattern="logs/$${date:yyyy-MM}/learnSpring-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-3level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </File>

    </appenders>


</configuration>