<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1. Injection: set the value of Book class property -->
    <bean id="iocxml-di-book" class="xpj.learn.iocxml.di.Book">
        <property name="name" value="Hello Spring"/>
        <property name="author" value="Peijie"/>
        <property name="isbn">
            <value>
                <![CDATA[
                    1234<56>7890
                ]]>
            </value>
        </property>
    </bean>

    <!-- 2. Injection: constructor -->
    <bean id="iocxml-di-book-con" class="xpj.learn.iocxml.di.Book">
        <constructor-arg name="name_" value="Hello Spring"/>
        <constructor-arg name="author" value="Peijie"/>
    </bean>


</beans>